body,table
{margin:0;
padding:0;
width:100%;height:100%;
/*background-color: rgb(121, 183, 231);*/
}

td{text-align:center}

.title14{font-size:14px;font-family:Verdana,Times New;}

p{font-size:11px;font-family:Verdana,Times New;font-style:normal;font-weight:normal}

.bar1{
    width: 100%;
    height:1px;}

#edWuiBar{
    min-height: 28px;
    text-align: center;
}

div.edWuiCard{
position:relative;
width:128px;
min-height:128px;
text-align:center;
vertical-align:middle;
display:inline-block;
margin:5px;
line-height:400%;
border-width:4px;
}

.edWuiCardHide,.hiddenMsg,.hiddenMenu{
    display: none;
}
.edWuiCardShow{
    display: block;
}

a.deckLauncher{
color:#1d5987;
text-decoration:none;
font-size: 1.2em;
}

.cardselected{
	border: 1px solid #fad42e;
	background-color: #fbec88;
	color: #363636;
}

.edWuiCard:not(.cardselected):not(.ui-widget-header),.modal-body .edWuiCard{
	border: 4px solid #c5dbec;
    background-color:  #dfeffc;
    color: #2e6e9e;
}

.main-bg{
	background-color:#a6c9e2;
}

.dropdown .menu{
	left:auto;
}

@media screen and (min-width: 1280px){
.show-ib-xl {
    display: inline-block!important;
}
}