<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" >
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <meta name="twitter:card" content="summary">
 <meta name="twitter:title" content="edWui powered by @3v1f323">
 <meta name="twitter:site" content="@3v1f323">
 <meta name="twitter:image" content="https://evifere.github.io/img/edWui1.2.png" />
 <meta name="twitter:description" content="web app de jeu de mémo éducatif">
 <meta name="twitter:text:title" content="edWui">
 <meta name="twitter:app:name:iphone" content="edWui">
 <meta name="twitter:app:id:iphone" content="">
 <meta name="twitter:app:name:ipad" content="edWui">
 <meta name="twitter:app:id:ipad" content="">
 <meta name="twitter:app:name:googleplay" content="edWui">
 <meta name="twitter:app:id:googleplay" content="">
 <title>edWui App</title>
<% _.forEach(css, function(css) { %><link rel="stylesheet" rel="stylesheet" title="Default" href="<%- css %>" type="text/css" media="screen"><%}); %>

<% _.forEach(jsonDatas, function(src,index) { %><script type="application/json" id="jsondata_<%- index %>" data-path="<%- src %>" src="./json/<%- src %>"></script><%}); %>

</head>

<body class="main-bg">
	<div class="container">
		<div class="columns">
			<div class="column col-12">
				<header id="edWuiBar" class="navbar-center">
				  <section class="navbar-center">
				     <span id="edWuiBoardTitle">Bienvenue sur EdWui</span>
				 	</section>
				</header>
			</div>