<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" >
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <title>edWui App</title>
<% _.forEach(css, function(css) { %><link rel="stylesheet" rel="stylesheet" title="Default" href="<%- css %>" type="text/css" media="screen"><%}); %>

<% _.forEach(jsonDatas, function(src,index) { %><script type="application/json" id="jsondata_<%- index %>" data-path="<%- src %>" src="./json/<%- src %>"></script><%}); %>

</head>

<body >
	<div class="container">
		<div class="columns">
			<div class="column col-12">
				<header id="edWuiBar" class="navbar-center">
				  <section class="navbar-center">
				     <span id="edWuiBoardTitle">Bienvenue sur EdWui</span>
				 	</section>
				</header>
			</div>