<h3><a href="#">Mon premier Mémo</a></h3>
<div title="Mémo adapté aux bébés" data-xmldeckfile="001-premiermemo.xml">
<a title="Trouve les deux images d\'animaux identiques" style="color:#1d5987;text-decoration:none;" href="#" onClick="$.loadBoard ('001-premiermemo','0','Mon premier Mémo','Mémo adapté aux bébés','Animaux 1','Trouve les deux images d\'animaux identiques',false,true,$.__STDCSS);">Animaux 1</a>
<br/>
<a title="Trouve les deux images identiques" style="color:#1d5987;text-decoration:none;" href="#" onClick="$.loadBoard ('001-premiermemo','1','Mon premier Mémo','Mémo adapté aux bébés','Animaux 2','Trouve les deux images identiques',false,true,$.__STDCSS);">Animaux 2</a>
<br/>
</div>
<h3><a href="#">Mon deuxieme Mémo</a></h3>
<div title="Mémo adapté aux bébés" data-xmldeckfile="001-premiermemo.xml">
<a title="Trouve les deux images d\'animaux identiques" style="color:#1d5987;text-decoration:none;" href="#" onClick="$.loadBoard ('001-premiermemo','0','Mon premier Mémo','Mémo adapté aux bébés','Animaux 1','Trouve les deux images d\'animaux identiques',false,true,$.__STDCSS);">Animaux 1</a>
<br/>
<a title="Trouve les deux images identiques" style="color:#1d5987;text-decoration:none;" href="#" onClick="$.loadBoard ('001-premiermemo','1','Mon premier Mémo','Mémo adapté aux bébés','Animaux 2','Trouve les deux images identiques',false,true,$.__STDCSS);">Animaux 2</a>
<br/>
</div>
