
<% 
_.each(boards, function(board,index) {
%>
  <div class="btn-group group <%= (index%2) ? 'hiddenMenu' : '' %> show-ib-xl" >
  	<a href="javascript:void(0)" class="btn"><%= board.title %></a>
    <a href="javascript:void(0)" class="btn dropdown-toggle" tabindex="<%= index %>">
      <i class="icon icon-caret"></i>
    </a>

    <ul class="menu">

    <%
    _.each(board.decks[0].deck, function(deck,index) {
    %>
	  <li class="menu-item">
	        <a class="deckLauncher" data-boardfile="<%= board.boardFile %>" data-deck="<%= index %>" title="<%= deck.$.description %>"   ><%= deck.$.name %></a>
	  </li>
    <%
    });
    %>
    </ul>
  </div>
<%
});
%>
<button class="btn btn-primary btn-action btn-lg nextMenu"><i class="icon icon-forward"></i></button>
